@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.navbar {
  padding: 1.5rem 2rem;
  min-height: 10vh;
  height: 0rem;
}
.navbar .navbar-brand a {
  padding: 1rem 0;
  display: block;
}
.navbar-brand {
  font-family: "Pacifico", "cursive";
  font-size: 2.5rem;
}
